<div class="agenda">
    <Ribbon />
    <OneFourYears />
</div>

<script>
    import OneFourYears from './1_4/Week.html';
    import Ribbon from './Ribbon.html';

    export default {
        data() {
            return {

            };
        }, methods: {

        }, components: {
            OneFourYears,
            Ribbon
        }
    };
</script>



<style>

.agenda {
    min-width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




</style>